.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.container {
  margin: 0 auto;
  max-width: 910px;
}

.choose {
  width: 100%;
  height: 40px;
}
.fa {
  margin-right: 20px;
  font-size: 30px;
  color: gray;
  float: right;
}
/******************************************
Book stuff
*******************************************/

.book {
  display: inline-block;
  width: 230px;
  height: 420px;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
}
/* star button */
/* .book:after {
  font-family: FontAwesome;
  content: "\f006";
  font-size: 35px;
  position: relative;
  left: -.1cm;
  top: -1.6cm;
  float: right;
} */

.cover {
  border: 2px solid gray;
  height: 65%;
  overflow: hidden;
}

.cover img {
  width: 100%;
  transition: .3s ease-in-out;
}

.book p {
  margin-top: 12px;
  font-size: 15px;
}

.book .author {
  font-size: 15px;
}
@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }
  .book {
    margin: 49px;
  }
}
@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .cover {
    
  }
}

/*********************************
other
**********************************/

h1 {
  color: gray;
  text-align: center;
  font-size: 50px;
  margin-bottom: -3px;
}

/**********************************
display change
***********************************/
/*book height smaller, cover opacity, move text onto cover and star too
animate it */
#list-th:target .book {
  height: 140px;
  width: 250px;
  padding: 10px;
  margin: 25px auto 25px auto;
}

#list-th:target .cover {
  width: 246px;
}

#list-th:target img {
  opacity: .1;
}

#list-th:target p {
  margin-top: -62px;
  margin-left: 20px;
}
/* remove button? */
#large-th:target .book {
  height: 390px;
}

/***********************************
star animation
***********************************/
/***********************************
zoom on click
***********************************/





.book:hover .cover{
  height: 10%;
  transition: 1s;
}
.container .book {
  position: relative; /* .book container'ının pozisyonunu relative yapın */
}

.container .book .cover {
  transition: height 1s; /* Cover boyutu değiştiğinde geçiş efekti uygulayın */
}

.container .book> .button-86 {
  position: absolute; /* Butonun pozisyonunu absolute yapın */
  bottom: 10px; /* Alt kenardan 10 piksel mesafede olsun */
  left: 50%; /* Sol kenardan ortaya yerleştirin */
  transform: translateX(-50%); /* Yatayda ortala */
  z-index: 1; /* Diğer içeriklerin üzerine çıkmasını sağlayın */
}

.container .book .comments {
  display: none; /* Açıklamaları varsayılan olarak gizle */
  transition: height 1s; /* Açıklama boyutu değiştiğinde geçiş efekti uygulayın */
}

.container .book:hover .comments {
  display: block; /* Hover edildiğinde açıklamaları görünür yap */
  height: 30%; /* Açıklamanın yüksekliğini otomatik ayarlayarak içeriği sığdırın */
  opacity: 1; /* Açıklamanın tamamen görünür olmasını sağlayın */
}


/* Modal stilleri */
.modal {
  
  display: block; /* Modal görünür olduğunda göstermek için */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(219, 219, 219, 0.5); /* Modal dışındaki arka planı hafifçe karartma */
}

.modal-content-2 {
  width: 50%;
  background-color: white;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}


#modal-input-2{
  /* style={{width:'50%',border:'0 0 0 2px'}} */
  width: 30%;
  border-width: 0 0 2px 0;
  margin-bottom: 3%;
  margin: auto;
  display: inline-block;
  margin-bottom: 2%;
}

.modal h2{
  margin-bottom: 2%;
  text-align: center;
}

.modal button{
  width: 30%;
  margin: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-set {
  float: left;
  overflow: hidden;
}

.left-set img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
}

.right-set {
  float: right;
  padding: 2rem 1rem;
  box-sizing: border-box;
}


.name, .subname {
  font-weight: bold;
}
.name {
  font-size: 1.4rem;
  line-height: 2rem;
}
.subname {
  font-size: 0.8rem;
  line-height: 1rem;
}
.description p{
  font-size: 0.9rem;
  text-align: justify;
  hyphens: auto;
}

.fullBookCard{
  width: 50%;
  height: 50%;
  margin: auto;
}

/* .imgContainer{
  width: 50%;
  height: 100%;
}
.desContainer{
  width: 50%;
  height: 100%;
} */
